@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.sobreNos {
    min-height: 180vh;
    width: 100vw;
    font-family: 'Fredoka', serif;
}

.textosComplementares {
    width: 100vw;
    height: 100vh;

}

.projeto {
    height: 40vh;
    margin: 0;
}

.projeto div {
    height: 100%;
    background-color: black;
    display: flex;
    text-align: center;
}

.projeto p {
    font-weight: 600;
    width: 60vw;
    font-size: 1.3em;
    color: white;
}

.polaroid {
    width: 12vw;
}

.futebol {
    width: 12vw;
    height: 30vh;
}

.aniversario {
    width: 12vw;
}

.objetivo {
    height: 40vh;
    display: flex;
    margin: 0;
}

.time {
    width: 100vw;
    height: 80vh;
}

.articleTextos {
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.articleTextos h1 {
    font-size: 1.6em;
}

.textoIntroducaoEquipe {
    width: 45vw;
}

.membros{
    display: flex;
    align-items: flex-end;
    width: 80vw;
}

.sobreEliza {
    height: 50vh;
    width: 20vw;
    background-color: #b9f0d7;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sobreEliza p {
    margin: 0;
}

.elizaFoto {
    width: 12vw;
    border-radius: 50%;
}

.nomeEcargoEliza{
    height: 2em;
    margin-bottom: 0;
}

.sobreGiulia {
    height: 45vh;
    width: 20vw;
    background-color: #c9e8ff;
    margin-top: 5vh;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sobreGiulia p {
    margin: 0;
}

.giuliaFoto {
    width: 12vw;
    border-radius: 50%;
}

.nomeEcargoGiulia {
    margin-bottom: 0;
    height: 2em;
}

.sobreMonica {
    height: 50vh;
    width: 20vw;
    background-color:  #b8baff;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sobreMonica p {
    margin: 0;
}

.monicaFoto {
    width: 12vw;
    border-radius: 50%;
}

.nomeEcargoMonica {
    margin-bottom: 0;
    height: 2em;
}

.sobreTony {
    height: 45vh;
    width: 20vw;
    background-color: #6666ff;
    margin-top: 5vh;
    border-top-left-radius: 20em;
    border-top-right-radius: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sobreTony p {
    margin: 0;
}

.tonyFoto {
    width: 12vw;
    border-radius: 50%;
}

.nomeEcargoTony {
    height: 2em;
    margin-bottom: 0;
}